<ActionBar title="My App"> </ActionBar>

<TabView [selectedIndex]="selectedIndex" selectedTabTextColor="grey">
    <StackLayout *tabItem="{title: 'First Tab'}">
        <ns-first [items]="items" (navigateToIndex)="navigateToIndex($event)"></ns-first>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Second Tab'}">
        <StackLayout>
            <Label text="Second"
                textWrap="true"
                class="m-15 h2 text-left"
                color="blue"></Label>
        </StackLayout>
    </StackLayout>
</TabView>
